---
import type { PricingSubcategory } from "@/components/sections/PricingSection.astro";
import PricingItemBlock from "./PricingItemBlock.astro";

const { subcategory } = Astro.props;

interface Props {
  subcategory: PricingSubcategory;
}
---

<div class="p-2">
  <h3 class="text-lg font-bold text-neutral-700 dark:text-neutral-300">
    {subcategory.subcategory}
  </h3>
  <ul class="mt-2 list-disc dark:text-neutral-300">
    {subcategory.items.map((item) => <PricingItemBlock item={item} />)}
    {
      subcategory.packages && (
        <>
          <p class="mb-2 mt-3 font-bold underline">Pachete:</p>
          {subcategory.packages.map((item) => (
            <PricingItemBlock item={item} />
          ))}
        </>
      )
    }
  </ul>
  {
    subcategory.notes && (
      <ul class="mt-3 italic dark:text-neutral-300">
        {subcategory.notes.map((note) => (
          <li>*{note}</li>
        ))}
      </ul>
    )
  }
</div>
