---
import PricingSubcategoryBlock from "../ui/blocks/PricingSubcategoryBlock.astro";

export interface PricingSubcategory {
  subcategory?: string;
  alias?: string;
  items: string[];
  notes?: string[];
  packages?: string[];
}

interface PricingCategory {
  category: string;
  subcategories: PricingSubcategory[];
}

interface Props {
  pricing: PricingCategory[];
}
const { pricing } = Astro.props;
---

<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    {
      pricing.map((category) => (
        <div class="mt-4 divide-y divide-neutral-300 dark:divide-neutral-700">
          <div class="flex gap-x-7 py-6 shadow-lg">
            <div class="grow">
              <h2 class="text-xl font-bold text-neutral-700 underline dark:text-neutral-200">
                {category.category}
              </h2>
              <div>
                {category.subcategories.map((subcategory) => (
                  <PricingSubcategoryBlock subcategory={subcategory} />
                ))}
              </div>
            </div>
          </div>
        </div>
      ))
    }
    <p class="mt-2 font-bold italic dark:text-red-400">
      * toate pachetele includ: evaluare a compoziției corporale, evaluare a
      statusului nutrițional și metabolic, măsuratori, plan alimentar
      personalizat, actualizare dietă / meniu, 2 monitorizări lunare, suport
      online, materiale cu informații, evaluare analize medicale și
      nutriționale, analize periodice progres;
    </p>
  </div>
</section>
