---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/Contact.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Contactează-ne - Health Academy">
  <main>
    <HeroSection 
      title="Contactează-ne" 
      description="Suntem aici să te ajutăm!"
    />
    <ContactForm />
  </main>
</Layout> 
