---
import Layout from '../layouts/Layout.astro';
import PricingCmp from '../components/Pricing.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Preturi - Health Academy">
  <main>
    <HeroSection 
      title="Prețuri" 
      highlightText=""
      description=""
    />
    <PricingCmp />
  </main>
</Layout>
